* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    padding: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.to-do-app {
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
}

.to-do-app h2 {
    color: black;
    display: flex;
    align-items: center;
    margin: 20px;
}

.to-do-app h2 img {
    width: 30px;
    margin-right: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

.addTask {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: red;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    color: white;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: gray;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: gray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: whitesmoke;
}

.links {
    border: none;
    outline: none;
    padding: 5px 5px;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    color: black;
}

.links:hover {
    background-color: lightgray;
}

img {
    width: 30px;
    height: 30px;
}